/************************************************************
 * Steve Jenkins' Rounded Corners for Saratoga WX Templates *
 * https://github.com/stevejenkins/saratoga-rounded-corners *
 * http://weather.lakewebster.com/                          *
 * Version 1.4 (Dec 5, 2016)                                *
 ***********************************************************/

/* Comment out any of the CSS formatting you don't want, /*
/* or increase/decrease the amount of corner rounding by /*
/* adjusting the values below /*

/* Sitewide Images */
img {border-radius: 4px;}

/* Sitewide Table Borders */
table {border-radius: 5px;}

/* Sitewide Header Corners */
#header {border-radius: 11px;}

/* Sitewide Outer Border Corners */
#page {border-radius: 12px;}

/* Sitewide Footer Corners */
#footer {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

/* Homepage Icon Corners */
.ajaxDashboard img {border-radius:5px;}

/* New class for Webcam rounded corners */
.webcam {border-radius:3px;}
