/************************************************************
 * Steve Jenkins' Rounded Corners for Saratoga WX Templates *
 * https://github.com/stevejenkins/saratoga-rounded-corners *
 * http://weather.lakewebster.com/                          *
 * Version 1.2 (Feb 9, 2015)                                *
 ***********************************************************/

/* Comment out any of the CSS formatting you don't want /*

/* Sitewide Header Corners */
#header {border-radius: 11px;}

/* Sitewide Outer Border Corners */
#page {border-radius: 12px;}

/* Sitewide Footer Corners */
#footer {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

/* Homepage Icon Corners */
.ajaxDashboard img {border-radius:5px;}
